*{
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

 button {
  color: white;
  border: 1px solid transparent;
  border-radius: .5rem;
  padding: .375rem .75rem;
  line-height: 1.5;
  font-size: 2rem;
}

input:active, input:focus, button:active, button:focus {
  outline: none;
}

ul{
  list-style-type: none;
  padding: 0;
 
}

li{
  border-bottom: 1px solid #ADB5BD;
  font-size: 2rem;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
}

.left, .right{
  display: inline-block;
}

.delete{
  margin-left: 0.15rem;
}

.todo{
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
}

.controlButton{
  background: none;
}

.controlButton svg {
  fill: #AAA;
}

.controlButton svg:hover {
  fill: #333;
}